.art-container {
    position: relative;
    width: 100vw;
    height: 30vh;
    background: url('art..jpg');
    background-size: contain;
    color: red;
    padding: 20px; 
}
.text-center {
    position: absolute;
    bottom: 20p;
    right: 0;
    text-align:center;
    width: 100%;
    height: 20vh;
}

h1 {
    text-align: center;
    color: red;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}


