.blue{
    color: blue;
    text-align: center;
}
.red{
    border: 2px solid red;
    width: 600px;
    margin:auto;
}

input{
    background-color: antiquewhite;
    font-style: italic;
}
label{
    font-style: italic;
}