h1 {
    color: red;
    text-align: center;

}

p {
    color: blue;
    text-align: center;
}

body{
    background-color: blanchedalmond;
}
.blue{
    border: 2px solid blue;
}
h2{
    color: red;
    text-align: center;
}
li{
    color: blue;
}