body {
    background-image: url('cv.png');
    background-repeat: no-repeat;
    background-size: cover; 
}

h1,h6,h7,h4,h9{
    display: flex;
    justify-content: center;
    font-style: normal;
}

p{
display: flex;
justify-content: center;
color: blue;
}
.changement-couleur:hover {
    color: red; 
}
