h1{
    color: black;
    display: flex;
    justify-content: center;
    border-style: solid;
}
button{
    border-style: solid;
    color: blue;
}
video {
    width: 100%;
    max-width: 640px;
    height: auto;
}