
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#app {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select,
button {
    margin-bottom: 10px;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
body {
    background-image: url('pi.png');
    background-repeat: no-repeat; 
    background-size: cover; 
}

